
        <footer>
            <p><i class="far fa-copyright"></i> 2018 Drin Kaziu. All rights reserved.</p>
            <ul>
              <li><a href="#"><i class="fab fa-github-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            </ul>
        </footer>
    </body>
</html>