        <section class="contact" id="message-me">
            <h3 class="title">Ready to work:</h3>
            <p>I am currently searching for a full time position as a web developer. If you'd like to learn more about me and see if I can be of help to your company, please get in touch with me.</p>
            <hr>
            <a href="mailto: drinkaziu@gmail.com" class="btn"><i class="far fa-envelope"></i> Message Me</a>
        </section>
        
        <footer>
            <p>Copyright <i class="far fa-copyright"></i> 2018 Drin Kaziu. All rights reserved.</p>
            <ul>
              <li><a href="https://github.com/DrinKaziu" target="_blank"><i class="fab fa-github-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            </ul>
        </footer>
        
        <script 
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous">
        </script>
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous">
        </script>
    </body>
</html>