<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta charset="utf-8">
      <title>Drin's Portfolio</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/styles.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500|Ubuntu:400,500" rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
      <header>
        <h2><a href="/">Drin Kaziu</a></h2>
        <nav>
          <li><a href="/#about-me">About</a></li>
          <li><a href="/#skills-section">Skills</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="#message-me">Contact</a></li>
        </nav>
      </header>