<% include partials/header %>

<section class="hero">
    <div class="background-image" style="background-image: url(/img/main.jpg);"></div>
    <div class="hero-content-area">
        <h1>Hi: This is Drin;</h1>
        <h3>A Full-Stack Web Developer</h3>
        <div class="buttons">
            <a href="/projects" id="work-btn" class="btn">Work</a>
            <a href="#" id="resume-btn" class="btn">Resume</a>   
        </div>
    </div>
</section>

<section class="about">
    <h3 class="title">A little about Drin:</h3>
    <div id="nacho" class="image" style="background-image: url(/img/nacho1.jpg);"></div>
    <p>Hi, my name is Nacho... and this is my human, Drin <i class="far fa-arrow-alt-circle-down"></i></p>
    <div class="image" style="background-image: url(/img/face.jpg);"></div>
    <ul>
        <li>
            <p>
                Drin loves to code. He discovered his love for web developement about a year ago and he has been teaching himself programming ever since. He spends a lot of time in front of his computer. It's the only thing he's ever been able to do for hours without being distracted... I wish I could say the same about the time he spends playing with me :(. But it's ok because I can sense that he is a lot happier.  
            </p>
        </li>
            <p>
                This (healthy) obsession came about while he was doing some serious reflection on his career choices. He hated what he was doing but it wasn't because he wasn't successful or because he wasn't making enough money. So what was it? After much thinking he had the epiphany that money was not a motivation anymore. He decided that he needed a career that gave him fullfilment by creating something meaningful that he was proud of. He finally realized that he could accomplish this by combining his love for computers and technology with his artistic abilities he had cultivated since he was little. Web development was his calling.
            </p>
        <li>
            <p>
                Aside from coding, Drin's favorite passtime is when I take him for walks, of course. He also likes to snowboard in the winter and surf in the summer. He is not good at either but addicted to both.
            </p>
    </ul>
</section>

<section class="projects">
    <h3 class="title">What he can do:</h3>
    <p>These are some projects build with front-end and back-end technologies including HTML, CSS, JavaScript, jQuery, Bootstrap and Mongo.</p>
    <hr>
    <div class="tech-icons">
        <i class="fab fa-html5 fa-7x"></i>
        <i class="fab fa-css3 fa-7x"></i>
        <i class="fab fa-js-square fa-7x"></i>
        <i class="fab fa-node fa-7x"></i>
        <i class="fab fa-aws fa-7x"></i>
        <i class="fab fa-github-square fa-7x"></i>
        <i class="fab fa-npm fa-7x"></i>
    </div>
    <hr>
    <a href="#" class="btn">Projects</a>
</section>


<section class="contact">
    <h3 class="title">Ready to work:</h3>
    <p>I am currently searching for a full time position as a web developer. If you'd like to learn more about me and see if I can be of help to your company, please get in touch with me.</p>
    <hr>
    <a href="mailto: dak4410@gmail.com" class="btn"><i class="far fa-envelope"></i> Message Me</a>
</section>

<% include partials/footer %> 