<% include partials/header %>

    <section class="hero">
        <div id="projects-background" class="background-image" style="background-image: url(/img/main2.jpg);"></div>
        <div class="content-area">
            <a href="#projects-section" id="arrow-down-btn" class"btn" >Check out what I've been up to<br><i class="fas fa-angle-down"></i></a>
        </div>
        <div class="projects" id="projects-section">
            
        </div>
    </section>

<% include partials/footer %>
