<% include partials/header %>

<section class="hero">
    <div id="projects-background" class="background-image" style="background-image: url(/img/main2.jpg);"></div>
    <div class="content-area">
        <a href="#projects-section" id="arrow-down-btn" class"btn" >Check out what I've been up to<br><i class="fas fa-angle-down"></i></a>
    </div>
</section>

<section class="jumbotron text-center" id="projects-section">
    <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
           <a href="#" class="btn btn-primary my-2">Main call to action</a>
           <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>
<section>
    <div class="card bg-light mb-3 w-75 p-3 box-shadow">
        <img class="card-img-top" src="/img/yelpsurf.png" alt="YelpSurf">
        <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</section>
<section>
    <div class="card-deck">
        <div class="card bg-light mb-3 w-75 p-3 box-shadow">
            <img class="card-img-top" src="/img/color_game.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card bg-light mb-3 w-75 p-3 box-shadow">
            <img class="card-img-top" src="/img/patatap1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>
