<% include partials/header %>

<section class="hero">
    <div id="projects-background" class="background-image" style="background-image: url(/img/main2.jpg);"></div>
    <div class="content-area">
        <a href="#projects-section" id="arrow-down-btn" class"btn" >Check out what I've been up to<br><i class="fas fa-angle-down"></i></a>
    </div>
</section>

<section id="projects-section">
    <div class="card bg-light mb-3 w-75 p-3 box-shadow">
        <img class="card-img-top" src="/img/live_drafter.png" alt="YelpSurf">
        <div class="card-body">
           <h5 class="card-title">Live Drafter - <a href="https://www.youtube.com/watch?v=T0rFwsAG04w&t=12s">Demo</a></h5>

           <ul class="card-text">
             <h6>A drafting board and research tool for fantasy football lovers</h6>
             <li>• Created a responsive frontend with React, React-Router, and Redux</li>
             <li>• Built APIs using Ruby on Rails backend and configured models and associations with PostgreSQL</li>
             <li>• Utilized an external Fantasy Football API to render player rankings and allow users to search for players based on different criteria</li>
             <li>• Designed user interface by styling with HTML5, custom CSS and Semantic-UI</li>
           </ul>
        </div>
    </div>
</section>
<section>
  <div class="card bg-light mb-3 w-75 p-3 box-shadow">
      <img class="card-img-top" src="/img/chirper.png" alt="YelpSurf">
      <div class="card-body">
         <h5 class="card-title">Chirper - <a href="https://www.youtube.com/watch?v=OC7nNX-Dgxc">Demo</a></h5>
         <ul class="card-text">
           <h6>A Twitter-like app that allows users to create an account, sign in and out and post messages</h6>
           <li>• Built front-end with React, React-Router, and Redux</li>
           <li>• Integrated Express and MongoDB for user action persistence</li>
           <li>• Implemented JWT and Local Storage for Authentication and Authorization</li>
           <li>• Styled with Semantic-UI</li>
         </ul>
      </div>
  </div>
</section>

<% include partials/footer %>
