<% include partials/header %>

    <section class="hero">
        <div id="projects-background" class="background-image" style="background-image: url(/img/main2.jpg);"></div>
        <div class="hero-content-area">
        </div>
    </section>

<% include partials/footer %>
